#chat-screen{
    background-color: #abc1d1;
    height: 11000vh;
}
#chat-screen .status-bar,
#chat-screen .alt-header{
    background-color: #abc1d1;
    top:0px;
    position:fixed;
    width: 100%;
    box-sizing: border-box;
}
@keyframes fadeIn {
    from{
        opacity: 0;
        transform:translateY(20px);
    }
    to{
        opacity: 1;
        transform: none;
    }
    
    
}
.main-chat{
    margin-top:150px;
    display: flex;
    /* display: none; */
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.3s linear;
}
.chat__timestamp{
    color:white;
    background-color:#92a4b2;
    padding:13px;
    border-radius: 16px;
    margin-bottom: 25px;;
}
.message-row{
    width: 100%;
    display: flex;
    margin-bottom:25px;
}
.message-row img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.message__author{
    opacity: 0.8;
    font-size: 13px;
    margin-bottom:10px;
    display: block;
}
.message__bubble{
    background-color:#fff;
    padding: 11px 15px;
    border-radius: 15px;
    border-top-left-radius: 0px;
    margin-right:5px;
}
.message__info{
 display: flex;
 align-items: flex-end;
}
.message__time{
    font-size:8px;
}
.message-row--own{
    justify-content: flex-end;
}
.message-row--own .message__bubble{
    background-color: var(--yellow);
    border-top-right-radius: 0px;
    border-top-left-radius: 15px;
    margin-left:5px;
}
.message-row--own .message__info{
    flex-direction: row-reverse;
}
.reply{
    position: fixed;
    bottom:0px;
    width: 100%;
    background-color:#fff;
    display: flex;
    justify-content: space-between;
    padding: 5px 25px;
    align-items: center;
    box-sizing: border-box;
    transition: all .3s ease-in-out;
}
.reply i{
    opacity: 0.5;
}
.reply__column:first-child{
    width: 10%;
}
.reply__column:last-child{
width: 90%;
position: relative;
}
.reply__column:last-child > i ,
.reply__column:last-child button{
    position: absolute;
    right:-6px; 
    top:10px;
}
.reply__column:last-child > i {
    right:40px;
    top:24px;
}
.reply__column button{
    background-color:  var(--yellow);
    border:none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.reply__column button:focus{

}
.reply__column button:active{
    outline:none;
}
.reply input{
    padding:10px;
 height: 30px;
 width: 100%;
 border: var(--main-border);
 border-radius: 20px;
 transition: all .3s ease-in-out;
}
.reply__column button i{
    opacity: 1;
}
.reply button{
    transition: opacity .3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button{
 opacity: 0;
}
.reply:focus-within input{
    width: 90vw;
    transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within{
    transform:translateY(80px);
}