.status-bar {
    width: 100%;
    position: fixed;
    top:0px;
    display: flex;
    justify-content: center;
    padding: 5px 10px;
    box-sizing: border-box;
   }
   .status-bar__column{
       width:33%;
       display: flex;
       align-items: center;
   }
   .status-bar__column:first-child span{
       margin-right: 5px;
   }
   .status-bar__column:nth-child(2){
       justify-content: center;
   }
   .status-bar__column:last-child{
       justify-content: flex-end;
   }
   .status-bar__column .fa-battery-half{
       margin: 0px 6px;
   }